<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="" method="post">
        <!-- {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Send</button> -->
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" name="username" /><br />
        <label for="">email</label>
        <input type="text" name="email" /><br />
        <label for="">password</label>
        <input type="text" name="password" /><br />
        <label for="">Repassword</label>
        <input type="text" name="re_password" /><br />
        <input type="submit" value="send" />
      </form>
    </div>
  </body>
</html>
